{% if NEWEST_USER %}
<script>
	var statElem  = document.querySelectorAll(".statistics > p");
	
	if(statElem.length) {
		var hideText = ' • ???';
		var statText = statElem[0].innerHTML.trim();
		
		/* Funktion arbeitet leider nicht unter Safari, iPhone */	
		/* statText = statText.replace(/(?<=[a-zA-Z>:])(\s)(?=([a-zA-Z<]))/g, '&nbsp;'); */
		
		statText = statText.replace(/\s+/g, '&nbsp;');
		statText = statText.replace(/(\&nbsp\;\•\&nbsp\;)/g, ' • ');
		
		{% if S_NEWEST_USER %}
		if(statText.includes(hideText)) {
			statText = statText.replace(hideText, '');
		}
		{% endif %}
		statElem[0].innerHTML = statText;
	} 
</script>
{% endif %}
