{% if NEWEST_USER %}
<script>
	var statElem  = document.querySelectorAll(".statistics > p");

	if(statElem.length) {
		var hideText = '&nbsp;• ???';
		var statText = statElem[0].innerHTML.trim();

		// RegEx Lookbehind don't work with Safari
		// statText = statText.replace(/(?<![\•])(\s+)/g, '&nbsp;');		
		statText = statText.replace(/\s+/g, '&nbsp;');
		statText = statText.replace(/(\&nbsp\;\•\&nbsp\;)/g, '&nbsp;• ');

		{% if S_NEWEST_USER %}
		if(statText.includes(hideText)) {
			statText = statText.replace(hideText, '');
		}
		{% endif %}
		statElem[0].innerHTML = statText;
	} 
</script>
{% endif %}
